<html>
  <head>
    <title>Home Page</title>
    <link href="style.css" rel="stylesheet" />
    <link href="home.css" rel="stylesheet" />
    
  </head>
  <body>
    <header class="header"><%- include('nav.ejs') %></header>

    <div class="sidebar">
        <div class="leftHome"></div>
        <div class="rightHome"></div>
    </div>
  </body>
</html>
