<nav>
    <div class="nav-bar">
        <div class="nav-element">
            <a href ="/">Homepage</a>
        </div>

        <div class="nav-element">
            <a href ="/forum">Forum</a>
        </div>

        <div class="nav-element">
            <a href ="/monsterCodex">Monster Codex</a>
        </div>
      
    </div>
</nav>