body {
  margin: 0;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#clock {
    display: flex;
}

.digit {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(5, 30px);
    gap: 7px;
    margin: 0 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.dot.active {
    background-color:  rgb(235, 255, 16);
}

.firefly {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(196, 245, 49);
  box-shadow: 0 0 8px yellow;
  pointer-events: none;
  animation: move 5s infinite, blink 2s infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

