<html>
  <head>
    <title>Home Page</title>
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="popup">
      <div class="popup-header">
        <%- include('nav.ejs') %>
        <button class="popup-close">X</button>
      </div>
      <div class="main-intro">
        <h1 class="main-title">Garden of Words</h1>
        <p class="main-description">Convert text into flowers and record it</p>
        <a href="/explore" class="popup-button">Start</a>
      </div>
    </div>
    <img src="de (1).png" class="corner-image left" />
    <img src="de (2).png" class="corner-image right" />
  </body>
</html>
