<body>
  <div class="popup">
    <div class="popup-header">
      <%- include('nav.ejs') %>
      <button class="popup-close">X</button>
    </div>
    <div class="form-container">
      <h1>login</h1>
      <form method="POST" action="/authenticate">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input
          type="submit"
          name="submitbutton"
          value="login"
          class="submit-btn"
        />
      </form>
    </div>
    <a href="/signup" class="acc"> Don't have an account? Register here.</a>
  </div>
  <img src="de (3).png" class="corner-image left" />
  <img src="de (4).png" class="corner-image right" />
</body>
