<head>
  <link rel="stylesheet" href="style.css">
</head>

<div class="nav">
  <a href="/">Home</a>
  <a href="/explore">Explore</a>
  <a href="/postcard">Postcard</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>

